.Card_component{
    /* Rectangle 460 */
height: 200px;
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 40%;
padding: 2rem;
margin-bottom: 1rem;


background: #FFFFFF;
border-width: 1px 1px 0px 1px;
border-style: solid;
border-color: rgba(54, 69, 79, 0.25);
box-shadow: 0px 8px 10px rgba(54, 69, 79, 0.15);
border-radius: 25px;

}
.Card_heading{
    /* Talent Matchmaker */



font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 28px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;

color: #0A56F1;


}
.Card_description
{
    /* The company pays a fee for talent hire based on salary and role difficulty. The talent is not charged a fee. */



font-family: 'Outfit';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 25px;
text-align: center;
letter-spacing: 0.03em;

color: #36454F;
overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;


}
@media screen and (max-width: 768px) {
    .Card_component {
      width: 80%; /* Adjust width for smaller screens */
      padding: 1rem; /* Adjust padding for smaller screens */
      height: auto; /* Allow height to adjust based on content for smaller screens */
      margin-bottom: 0.5rem; /* Adjust margin-bottom for smaller screens */
    }
  
    .Card_heading {
      font-size: 18px; /* Adjust heading font size for smaller screens */
      line-height: 24px; /* Adjust heading line height for smaller screens */
    }
  
    .Card_description {
      font-size: 10px; /* Adjust description font size for smaller screens */
      line-height: 20px; /* Adjust description line height for smaller screens */
    }
  }
  
  /* For even smaller screens */
  @media screen and (max-width: 600px) {
    .Card_component {
      width: 90%; /* Further adjust width for even smaller screens */
      padding: 0.5rem; /* Further adjust padding for even smaller screens */
    }
  
    .Card_heading {
      font-size: 16px; /* Further adjust heading font size for even smaller screens */
      line-height: 20px; /* Further adjust heading line height for even smaller screens */
    }
  
    .Card_description {
      font-size: 8px; /* Further adjust description font size for even smaller screens */
      line-height: 16px; /* Further adjust description line height for even smaller screens */
    }
  }
