.Hero_component
{
    /* Rectangle 407 */

position: relative;
width: 100%;
padding-top: 2rem;
padding-bottom: 3rem;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

background: linear-gradient(to right, rgba(10, 86, 241, 0.15) 0%, rgba(10, 86, 241, 0) 100%);

}
.Hero_heading{
    /* We are Best Because */



font-family: 'Outfit';
font-style: normal;
font-weight: 800;
font-size: 35px;
line-height: 44px;
/* identical to box height */
text-align: center;
letter-spacing: 0.025em;

color: #E68F50;


}
.Hero_body
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 900px)
{
    .Hero_body{
        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
  .Hero_component{
   
  }
}